@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@300;500;700&display=swap');

$Fuente1: "Kaushan Script", "cursive";
$Fuente2: "Quicksand", "sans-serif";
$color-primary: #6f6f6f;
$color-secondary: #444444;
$color-white: #FFFFFF;
$color-alternative:#ACD9B2;
$size-sm: 14px;
$size-nl: 16px;
$size-md: 21px;
$size-lg: 28px;
$size-hg: 40px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-family: $Fuente1;
	color: $color-secondary;
	font-weight: 700;
}

p {
	font-family: $Fuente2;
	color: $color-primary;
}

@mixin caja {
    display: grid;
	justify-content: space-around;
	align-content: center;
	margin: 80px auto;
	width: 80vw;
	box-shadow:0 2px 8px rgb(0 0 0 / 7%), 0 0 2px rgb(0 0 0 / 10%);
	border-radius: 5px;
}