-var enlacesHeader=['Inicio', 'Destinos', 'Contacto']
-var destinos=['España','India', 'Thailandia', 'Malasia']
-var mapa= ['Mapa del Recorrido']
-var enlacesFooter=['GitHub', 'Linkedin', 'Instagram']

mixin intro(imagen, titulo, contenido)
	.introMapa  
		.introMapa__imagen: img(src="../images/thailandia/"+imagen)
		.introMapa__contenido 
			h3=titulo 
			p=contenido 

mixin caja(titulo, contenido)
	.caja__contenido 
		h3=titulo 
		p=contenido 

mixin carousel(imagen1, imagen2, imagen3, imagen4, imagen5, imagen6, imagen7, imagen8, imagen9, imagen10)
	.container 
		.row 
			.col.s12 
				.carousel.center-aling
					.carousel-item
						img(src="../images/"+imagen1)
					.carousel-item
						img(src="../images/"+imagen2)
					.carousel-item
						img(src="../images/"+imagen3)
					.carousel-item
						img(src="../images/"+imagen4)
					.carousel-item
						img(src="../images/"+imagen5)
					.carousel-item
						img(src="../images/"+imagen6)
					.carousel-item
						img(src="../images/"+imagen7)
					.carousel-item
						img(src="../images/"+imagen8)
					.carousel-item
						img(src="../images/"+imagen9)
					.carousel-item
						img(src="../images/"+imagen10)