-var enlacesHeader=['Inicio', 'Destinos', 'Contacto']
-var destinos=['España','India', 'Thailandia', 'Malasia']
-var mapa= ['Mapa del Recorrido']
-var enlacesFooter=['GitHub', 'Linkedin', 'Instagram']

mixin intro(imagen, titulo, contenido)
	.introMapa  
		.introMapa__imagen: img(src="../images/thailandia/"+imagen)
		.introMapa__contenido 
			h3=titulo 
			p=contenido 

mixin caja(titulo, contenido)
	.caja__contenido 
		h3=titulo 
		p=contenido 
