footer.browser-default
	ul 
		each enlace in enlacesFooter
			li
				a(href="https://github.com/LihuelM")=enlace
				a(href="https://www.linkedin.com/in/lihuel-muracciole-89088a96/")=enlace
				a(href="https://www.instagram.com/lii_muracciole/")=enlace
