footer.browser-default
	ul
		li: a(href="https://github.com/LihuelM") Github 
		li: a(href="https://www.linkedin.com/in/lihuel-muracciole-89088a96/") Linkedin
		li: a(href="https://www.instagram.com/lii_muracciole/") Instagram
