header.browser-default
	h1 Nuestro Viaje
	ul 
		each enlace in enlacesHeader
			li
				a(href="/")=enlace


//- header
//- 	h1 Nuestro Viaje
//- 	ul
//- 		li: a(href="./index.html") Inicio
//- 		li  Otros Destinos
//- 			ul
//- 				li: a(href="/") España
//- 				li: a(href="/") India
//- 				li: a(href="/") Thailandia
//- 				li: a(href="/") Malasia 
//- 				li: a(href="/") Indonesia
//- 		li: a(href="#") Contacto