extend componentes-pug/plantillas.pug
block contenidos
	main.contenido
		section.tittlePrincipal 
			.tittlePrincipal__contentWrap 
				h2  Thailandia 
		section.intro 
			p Nuestra experiencia en Thailandia fue hermosa!! Vinimos en época de monzones, con lo cual, llovieron 50 de los 60 días que estuvimos, sin embargo, en cada ciudad fue distinto los horarios de lluvia, la intensidad de la misma, por lo cual, no nos limitó para conocer y recorrer en absoluto. Debido a esto también, hemos podido disfrutar los lugares al 100% ya que casi no había turistas, en muchos lugares éramos los únicos. 
				|La gente aquí es muy buena, muy amable y servicial (el 87% de la población es budista, su pilar principal es la familia, ayudar, ser colaborativo con el resto), inseguridad es algo que no hemos sentido en absoluto, ni caminado a oscuras por la uta, por la ciudad, cruzar islas o ir a eventos masivos.
				|Los pecios son bajos (al menos en la temporada que nos ha tocado), comer ambos en puestos callejeros 10Eu en promedio, movernos de una isla a otra (incluye que te pasen a buscar por tu hotel en minibus, ferry y minibus de nuevo a tu nuevo hotel) desde 20Eu por persona , alquilar motos sale menos de 10Eu por día, un estudio con cocina, escritorios (algunos piscinas y gimnasios) 20/25Eu por día, a partir de las estadías semanales ya comienzan a tener descuentos.
				|Nosotros evitamos los taxis, nos movimos en transporte público en la mayoría de los lugares, excepto en las islas que alquilamos moto. 
			+intro('mapa.jpeg', mapa, 'Estos son los lugares más mencionados en blogs de viajeros (nosotros visitamos solo algunos de ellos, el resto... lo dejamos para la próxima)').
		section.lugaresVisitados 
			+caja('Bangkok', 'La capital de Tailandia es una ciudad metropolitana, tecnológica, llena de shoppings, mercadillos de comida, de flores, se encuentra el famoso barrio ChinaTown. Si hay algo que vas a ver seguro en Tailandia son templos, hay miles y aquí muchos más! Hermosos e imponentes! Tener en cuenta antes de salir de visita las normas de vestimenta para visitar los templos en Tailandia: los hombros y las rodillas tienen que estar cubiertos, tanto para mujeres como para hombres. No te permiten entrar solo con un pañuelo arriba, si o si debe ser camiseta con mangas (yo tuve que comprar una para entrar al Palacio Real).')
			+carousel('thailandia/bangkok.jpeg', 'thailandia/bangkok2.jpeg', 'thailandia/bangkok3.jpeg', 'thailandia/bangkok4.jpeg', 'thailandia/bangkok5.jpeg')
			+caja('Phuket', 'Nosotros fuimos desde el aeropuerto que se encuentra al norte, hasta Patong (nos tomamos un minibus que nos llevó al hotel, por unos 180bth por persona, pero con el tiempo descubrimos que hay un bus que lo hace por 100bth, solo hay que tener en cuenta que tarda bastante más.')
			+carousel('thailandia/patong.jpeg', 'thailandia/patong2.jpeg', 'thailandia/patong3.jpeg', 'thailandia/patong4.jpeg', 'thailandia/patong5.jpeg')